{% extends "layout.html" %}
{% block content %}
<section id="welcome-hero" class="welcome-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="header-text">
							<h2><span>Sentiment Analyzer &nbsp;</span>AI</h2>
							<p>PROJECT BY SHIVANI SHARMA & KARANVIR SINGH</p>
							<a href="#about" class="btn-get-started scrollto">Get Started</a>
							
						</div><!--/.header-text-->
					</div><!--/.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->

</section>
<section id="about" class="about">
			<div class="section-heading text-center">
				<h2>About the Concept</h2>
			</div>
			<div class="container">
				<div class="about-content">
					
						<div class="col-sm-6">
							<div class="single-about-txt">
								<h3>
									Add content
								</h3>
								<p>
									Add 
								</p>
					</div>
			</div>
</section>








{% endblock content %}